.App{
  /* display: flex; */
}
.content{}

.side-bar{
  position: fixed;
  min-height: 100vh;
}
.content{
  width: 100%;
}
.main-content{
  margin: 1.5rem;
}
.Header-content{
  /* position: fixed; */
  /* border: 2px solid red; */
  width: 81.5%;
  margin-left: 17.5rem;
}
.main-content{
  /* position: fixed; */
  /* border: 2px solid red; */
  position: absolute;
  left: 17.5rem;
  top: 5rem;
  width: 80%;
}